Package: com.pakreplacertest.app
Name: PakReplacerTest
Depends: firmware (>= 14.0)
Version: 1.0.0
Architecture: iphoneos-arm64
Description: PAK Replacer Test Tool - iOS IPA Vulnerability Tester
Maintainer: Developer
Author: Developer
Section: Applications
